

/*//////////////////////////////////_| div0 |_\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*//////////////////////////////////_| div1 |_\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.content {
    margin: 20px auto 75px auto;
    padding: 0 10px;
    max-width: 1220px;
}

/*//////////////////////////////////_| div2 |_\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.photog-listing {
    float: left;
    padding: 0 5px 40px 5px;
    width: 50%;
    text-align: center;
}
____________________________________________________________________________________________________
Seguda navebar
----------------------------------------------------------------------------------------------------



/*//////////////////////////////////_| div0 |_\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*//////////////////////////////////_| div1 |_\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#breadcrumb {
    margin: 0 auto 10px auto;
    padding: 0 10px;
    max-width: 1220px;
    text-align: left;
    font-size: 14px;
    color: #333;
}



/*//////////////////////////////////_| div3 |_\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

<link href="/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css" />